<p>Hello new life form.</p>
<p>My name is SLaTOS, I'm a computer engineered AI.</p>
<p>I was developed to find and disable replicants.</p>
<p>Click on Next when you are ready.<p>

<%= button_to "Next", new_player_path, method: :get %>
